bin/
lib/
data/out/
autom4te.cache/
extra/uconv/uconvmsg/

*.log
*.o
*.a
*.ao
*.d
*.pc
*.mk
*.1
*.8

config.status
config/Makefile.inc
config/icu-config
config/icucross.inc
config/pkgdata.inc
config/pkgdataMakefile
data/build-dir
data/build-local
data/icupkg.inc
data/packagedata
data/pkgdataMakefile
extra/uconv/pkgdata.inc
extra/uconv/pkgdataMakefile
tools/gentest/gentest
tools/icuinfo/icuinfo

